* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #d5e1ef;
}
.container {
  max-width: 500px;
  margin: 2.5rem auto;
  padding: 1rem 0.5rem 1.5rem 0.5rem;
  width: 25%;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px;
}
.qr-code img {
  width: 93%;
  margin-left: 11px;
  border: 1px solid #2d7dfa;
  border-radius: 13px;
}
.text-area {
  text-align: center;
}
.text-area h1 {
  font-size: 20px;
  padding: 0 1.3rem;
  color: #344057;
}
.text-area p {
  color: #93969e;
  font-size: 18px;
}
